In [32]:
# 미국 Boston 지역의 집값 data 불러오기
import pandas as pd
house = pd.read_csv('https://raw.githubusercontent.com/rasbt/'
                     'python-machine-learning-book-2nd-edition'
                     '/master/code/ch10/housing.data.txt',header=None,sep='\s+')
house.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS','NOX', 'RM', 'AGE', 'DIS', 'RAD','TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [33]:
#일부 변수에 대한 log 변환
import numpy as np
house['LLSTAT']=np.log(house['LSTAT'])
house['LINDUS']=np.log(house['INDUS'])
house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,LLSTAT,LINDUS
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,1.605430,0.837248
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,2.212660,1.955860
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,1.393766,1.955860
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,1.078410,0.779325
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,1.673351,0.779325

In [34]:
#전체 data를 종속변수 y와 특성변수 X의 data로 나누기
y = house['MEDV'].values
house1=house.drop(['LSTAT','INDUS','MEDV'],axis=1)
X = house1.values

In [35]:
#전체 data를 traning data(70%)와 test data(30%)로 나누기 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

## linear regression

In [36]:
#regression module 불러오기와 모형추정
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train, y_train)

LinearRegression()

In [37]:
#추정값 확인
print('Slope:' ,mlr.coef_)
print('Intercept:' ,mlr.intercept_)

Slope: [-1.36676828e-01  3.13177997e-02  2.52393199e+00 -1.70295629e+01
  1.23977704e+00  3.06818458e-02 -1.28840466e+00  2.61968148e-01
 -6.58141653e-03 -8.27862485e-01  4.90558897e-03 -9.97211822e+00
 -6.04522425e-01]
Intercept: 65.69779117501713

In [38]:
#예측치 구하기
y_train_pred=mlr.predict(X_train)
y_test_pred=mlr.predict(X_test)

In [39]:
# 모형의 MSE
from sklearn.metrics import mean_squared_error
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),mean_squared_error(y_test, y_test_pred)))

MSE train: 18.139, test: 17.416

In [40]:
# 모형의 R^2
from sklearn.metrics import r2_score
print('R^2 train: %.3f, test: %.3f' %(r2_score(y_train, y_train_pred),r2_score(y_test, y_test_pred)))

R^2 train: 0.777, test: 0.810

## SVM 회귀(선형)

In [94]:
from sklearn.svm import SVR  #SVR module import
svl=SVR(kernel='linear', C=1.0,epsilon=100)      #선형 SVM회귀
svl.fit(X_train,y_train)   #선형 SVM model fitting

SVR(epsilon=100, kernel='linear')

In [95]:
print(svl.n_support_)
print(svl.support_)
print(svl.coef_)
print(svl.intercept_)

[0]
[]
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[27.5]

In [96]:
y_train_predsvl=svl.predict(X_train)   #선형 SVM traing set의 예측치 구하기
y_test_predsvl=svl.predict(X_test)   #선형 SVM test set의 예측치 구하기

In [97]:
# 모형의 MSE
from sklearn.metrics import mean_squared_error
mse_l_train=mean_squared_error(y_train, y_train_predsvl)
mse_l_test=mean_squared_error(y_test, y_test_predsvl)
print(mse_l_train,mse_l_test)

107.81641242937852 112.0646710526316

In [89]:
# 모형의 R^2
from sklearn.metrics import r2_score
R2_l=r2_score(y_train, y_train_predsvl)
print(R2_l)

0.624751884198605

## RANSAC

In [46]:
from sklearn.linear_model import RANSACRegressor  #RANSAC module import
rans = RANSACRegressor(max_trials=100,min_samples=45,loss='absolute_loss',residual_threshold=5.0, random_state=1)
rans.fit(X_train,y_train)
y_train_pred=rans.predict(X_train)
y_test_pred=rans.predict(X_test)
print(rans.estimator_.coef_)
print(rans.estimator_.intercept_)

[-0.33997467  0.02628575  1.26584351 -6.7774809   3.20459419 -0.03651634
 -1.13372086  0.24298439 -0.00712198 -0.59996172  0.01186441 -3.85624577
 -1.01175348]
31.42798360125152

In [17]:
 # 모형의 MSE
from sklearn.metrics import mean_squared_error
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),mean_squared_error(y_test, y_test_pred)))

MSE train: 33.357, test: 21.997

In [18]:
# RANSAC에서 회귀 계수를 추정하는데 사용한데이터(inner)와 특이치(outlier)출력
inlier_mask=rans.inlier_mask_
print('inner',inlier_mask)

inner [ True  True False  True False  True  True  True False False  True  True
 False  True  True False  True  True  True  True  True  True  True  True
  True  True False  True  True  True  True  True  True  True  True  True
  True  True  True  True  True False False  True False  True False False
  True False  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True  True  True  True  True
  True False  True  True  True  True  True False False  True  True False
  True  True  True  True  True  True  True  True  True False  True  True
  True  True  True  True  True False False  True  True  True  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True False  True  True  True False
  True  True  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True False  True  True  True  True  True  True  True  True  True
  True  True False False  True  True False False  True  True  True  True
  True  True  True  True  True  True  True  True  True False False  True
  True  True  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True False  True False  True  True
  True False  True  True  True  True  True  True  True  True  True  True
 False  True False False  True  True  True False  True False  True  True
  True False  True False  True  True  True  True  True  True  True  True
  True False  True  True  True  True False  True  True False  True  True
  True  True False  True  True False  True  True False  True  True False
  True  True  True  True  True  True False False  True  True  True  True
 False  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True False False  True  True False  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True False  True  True]